@using HaberSitesi.Database
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Haber
@{
    var Kategoriler = Enum.GetValues<Kategoriler>();
}

<div class="contact">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="contact-form">
                    <form asp-controller="Home">
                        <div class="form-row">
                                   <label>Silinecek veya güncellenecek haber seçiniz.</label>
                            <select name="HaberID" class="custom-select" id="inputGroupSelect01">
                                <option selected>Seçiniz..</option>
                                @foreach (var item in API.GetHaberList())
                                {
                                    <option value="@item.HaberID">@item.HaberID - @item.Baslik </option>
                                }
                            </select>
                            <div class="form-group col-md-6">
                                <div class="row">
                                    <label>Haber fotoğrafı yükleyiniz.</label>
                                    <div class="col-md-12">
                                        <input type="file" id="imageUploadForm" name="FotoURL" multiple="multiple" />
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Kategori</label>
                                </div>
                                <select name="Kategori" class="custom-select" id="inputGroupSelect01">
                                    <option selected>Seçiniz..</option>
                                    @for (var i = 0; i < Kategoriler.Count(); i++)
                                    {
                                        <option value="@i">@Kategoriler[i]</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="Baslik" class="form-control" placeholder="Haber Başlık" />
                        </div>
                        <div class="form-group">
                            <textarea name="Detay" class="form-control" rows="7" placeholder="Haber Detay"></textarea>
                        </div>

                        <div class="row">
                            <div><button asp-action="HaberEkle" class="btn btn-success" style="margin-right: 10px;" type="submit">Haber Ekle</button></div>
                            <div><button asp-action="HaberGuncelle" class="btn btn-warning" style="margin-right: 10px;" type="submit">Haber Güncelle</button></div>
                            <div><button asp-action="HaberSil" class="btn btn-danger" style="margin-right: 10px;" type="submit">Haber Sil</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
      $("#imageUploadForm").change(function() {
        var formData = new FormData();
        var totalFiles = document.getElementById("imageUploadForm").files.length;
        var file;
        for (var i = 0; i < totalFiles; i++) {
          file = document.getElementById("imageUploadForm").files[i];
          formData.append("imageUploadForm", file);
        }
        $.ajax({
          type: "POST",
          url: '/Home/Upload',
          data: formData,
          dataType: 'json',
          contentType: false,
          processData: false,
          success: function(response) {
              if(response == true)
              {
                alert("Resim başarıyla server'a yüklendi!");
                $("#resimIsim").val(file.name)
              }
              else {
                  alert("Resim yükleme başarısız!");
               $("#resimIsim").val("")
              }
             },
             error: function(error) {
                 alert("errror");
             }
            });
        });
      });
</script>
